@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --fonts-principal: "IBM Plex Sans", sans-serif;
    --color-background: #f2f2f2;
    --color-black: #0d0d0d;
    --color-white: #ffff;
    --color-fontBlack: #000;
    --color-form: #D2F90A;
  }


.container-formulario{
    width: 100%;
    padding: 40px;
    height: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--color-white);
    background-color: var(--color-black);

}

.register-form{
    margin-bottom: 40px;
}
.register-form h2{
    font-family: var(--fonts-principal);
    font-size: 3.2rem;
}


.form{
    display: flex;
    align-items: center;
    width: 1535px;
    height: 658px;
    border-radius: 52px;
    background-color: var(--color-background);
}

.container-texto{
    background-color: var(--color-form);
    height: 100%;
    width: 50%;
    padding: 20px;
    border-radius: 52px 0px 0px 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.texto-form h2{
    font-family: var(--fonts-principal);
    font-size: 3.5rem;
    color: #000;
    width: 553px;
}



.contaier-box-form{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.box-form{
    width: 203px;
    height: 214px;
    border-radius: 30px;
    background-color: var(--color-white);
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.box-form img{
    width: 100%;
}


/*textarea*/

textarea{
    border: none;
    background: none;
    border-bottom: solid 1px var(--color-fontBlack);
    width: 100%;
    outline: none;
}


/*Formulario*/

.formulario{
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    padding: 20px;
    color: #000;
    font-family: var(--fonts-principal);
}
label{
    font-family: var(--fonts-principal);
    font-weight: 700;
    font-size: 1.4rem;
}

input{
    width: 100%;
    padding: 5px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-fontBlack);
}

.btn-form{
    padding: 10px 20px;
    background-color: var(--color-black);
    color: var(--color-form);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

.btn-form:hover{
    color: #ffff;
    transform: scale(1.1);
}