---
import "../styles/eleccion-servicio.css";
---

<section class="container-eleccion">
  <h3>Elige tu servicio</h3>
  <div class="container-box-elecion">
    <div class="box-eleccion">
      <div class="ilustracion-box">
        <i class="bx bx-user"></i>
      </div>
      <div class="tittle-eleccion">
        <h4>Portafolio</h4>
      </div>
      <div class="overlay">
        <p>Creamos portafolios asombrosos, únicos y altamente optimizados.</p>
      </div>
    </div>
    <div class="box-eleccion">
      <div class="ilustracion-box">
        <i class="bx bx-store"></i>
      </div>
      <div class="tittle-eleccion">
        <h4>E-Commerce</h4>
      </div>
      <div class="overlay">
        <p>
          ¡Es el momento perfecto para llevar tu emprendimiento al mundo
          digital!
        </p>
      </div>
    </div>
    <div class="box-eleccion">
      <div class="ilustracion-box">
        <i class="bx bx-edit-alt"></i>
      </div>
      <div class="tittle-eleccion">
        <h4>Blog</h4>
      </div>
      <div class="overlay">
        <p>
          Acércate más a tu público compartiendo temas de tu interés en un sitio
          web de blog.
        </p>
      </div>
    </div>
    <div class="box-eleccion">
      <div class="ilustracion-box">
        <i class="bx bx-line-chart"></i>
      </div>
      <div class="tittle-eleccion">
        <h4>SEO</h4>
      </div>
      <div class="overlay">
        <p>Potencia tu presencia en línea mediante un sólido sistema de SEO.</p>
      </div>
    </div>
  </div>

  <div class="container-form-eleccion">
    <div class="tittle-form-eleccion">
      <h3 class="tittle-eleccion">
        ¿Tu proyecto no se encuentra en el panel de selección?
      </h3>
      <p>Puede proporcionarnos una breve descripción o adjuntar un archivo.</p>
    </div>
    <a href="#" class="btn-seleccion">Explorar</a>
  </div>
</section>
