---
import "./footerinfo.astro";
---

<footer class="container__footer">
  <div class="info">
    <div class="tittle__footer">
      <h4>Acerca de Websyze</h4>
    </div>
    <ul class="ul_info">
      <li class="item__footer"></li>
      <li class="item__footer"></li>
      <li class="item__footer"></li>
    </ul>
  </div>
  <div class="info">
    <div class="tittle__footer">
      <h4>Asistencia técnica</h4>
    </div>
    <ul class="ul_info">
      <li class="item__footer"></li>
      <li class="item__footer"></li>
      <li class="item__footer"></li>
    </ul>
  </div>
  <div class="info">
    <div class="tittle__footer">
      <h4>Cuenta</h4>
    </div>
    <ul class="ul_info">
      <li class="item__footer"></li>
      <li class="item__footer"></li>
      <li class="item__footer"></li>
    </ul>
  </div>
  <div class="info">
    <div class="tittle__footer">
      <h4>Compras</h4>
    </div>
    <ul class="ul_info">
      <li class="item__footer"></li>
      <li class="item__footer"></li>
      <li class="item__footer"></li>
    </ul>
  </div>
</footer>
